<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World!</title>
    <link rel="stylesheet" href="index.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="module" src="reactive.js"></script>
  </head>
  <body>
    <div id="calendar-container" v-scope="CalendarView()"></div>
  </body>
</html>

<template id="CalendarView">
  <div id="calendar-top-banner" class="block">
    <div id="title-current-date">{{today}}</div>
    <div id="left-side-buttons">
      
    </div>
    <div id="right-side-buttons">
      <img class="ibutton" src="../assets/icons/down-arrow-backup-3-svgrepo-com.svg" @click="calendar.backward()">
      <img class="ibutton" src="../assets/icons/down-arrow-backup-2-svgrepo-com.svg" @click="calendar.forward()">
      <img class="ibutton" src="../assets/icons/gear-svgrepo-com.svg" @click="">
    </div>
  </div>
  <div id="calendar-day-title">
    <div class="calendar-day-title-tab block" v-for="col in colList">{{col}}</div>
  </div>
  <div id="calendar-main">
    <div v-for="week in calendar.getRowList(calendar.current.week, 4)" class="calendar-page-row" :week="week">
      <div class="week-tab block" :week="week">{{week}}</div>
      <div v-for="date in calendar.getDateList(week)" class="calendar-page block" :id="calendar.dateToStr_yyyymmdd(date)" :class="[calendar.isWeekday(date)?'weekday':'weekend', calendar.isToday(date)?'today':'anyday']" :dd="date.getDate()" :mm="date.getMonth()+1" :yy="date.getFullYear()" :week="week" :day="calendar.date2day(date)" :fulldate="calendar.dateToStr_Full(date)" @click="openPage($event)"></div>
    </div>
  </div>
</template>